asgiref==3.10.0
Django==5.2.7
django-admin-sortable2==2.2.8
django-browser-reload==1.21.0
django-htmx==1.26.0
django-tailwind==4.2.0
pillow==11.3.0
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2
