{% extends "base.html" %}
{% load static %}

{% block title %}Tài khoản của tôi — Luxora{% endblock %}

{% block content %}
<div class="max-w-screen-2xl mx-auto p-6">
  <h1 class="text-2xl font-semibold mb-6 text-center py-4">Tài khoản của tôi</h1>

  <div class="bg-transparent p-6 flex gap-8">
    <!-- CỘT TRÁI: Thông tin + địa chỉ -->
    <aside class="flex-[1] h-fit self-start flex flex-col items-center rounded-2xl shadow border border-gray-300 p-8 sticky top-25 self-start">
      <!-- Avatar -->
      <div class="w-28 h-28 rounded-full overflow-hidden border shadow-sm flex items-center justify-center bg-gray-100">
        <img src="{% static 'accounts/images/avatar-default.svg' %}" alt="Avatar" class="w-[80%] h-[80%] object-cover block">
      </div>

      <!-- Tên + email -->
      <div class="mt-4 text-center ">
        <h2 class="text-lg font-semibold">{{ user.get_full_name|default:user.username }}</h2>
        <p class="text-sm text-gray-500">{{ user.email }}</p>
      </div>

      <!-- Action buttons: Logout / Change password -->
      <div class="mt-4 w-full flex flex-row gap-2 items-center justify-between">
        <a href="{% url 'accounts:change_password' %}"
          class="flex-1 text-center px-4 py-2 bg-white border border-gray-300 rounded-lg text-sm hover:bg-gray-50">
          Đổi mật khẩu
        </a>
        <form method="post" action="{% url 'accounts:logout' %}" class="flex-1 flex">
          {% csrf_token %}
          <button type="submit"
            class="cursor-pointer flex-1 px-4 py-2 bg-white border border-gray-300 rounded-lg text-sm hover:bg-gray-50">
            Đăng xuất
          </button>
        </form>
      </div>

      <!-- Địa chỉ giao hàng -->
      <div class="mt-8 w-full">
        <h3 class="text-sm font-medium text-gray-700 mb-2">Địa chỉ giao hàng</h3>

        <!-- existing list container (HTMX will replace innerHTML) -->
        {% include "accounts/partials/address.html" %}
      </div>
    </aside>

    <!-- CỘT PHẢI: Đơn hàng -->
    <main class="flex-[3] rounded-2xl shadow border border-gray-300 p-8">
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-lg font-semibold">Đơn hàng của tôi</h2>
        <div class="text-sm text-gray-500">Tổng {{ orders|length }} đơn</div>
      </div>

      <div class="space-y-4">
        {% if orders %}
        <div id="global-order-detail"> </div>
        <div id="orders-list" class="space-y-3">
          {% for order in orders %}
          {% include "orders/partials/order_card.html" with order=order %}
        {% endfor %}
        </div>
        {% else %}
        <p class="text-gray-400 text-sm">Bạn chưa có đơn hàng nào.</p>
        {% endif %}
        <!-- container where order_detail partial will be injected -->
        <div id="order-detail" class="mt-4"></div>
      </div>
    </main>
  </div>
</div>
{% endblock %}