{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Luxora{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black" style="font-family: 'Plus Jakarta Sans', sans-serif;">

    <!-- Drawer wrapper -->
    <div class="drawer drawer-end z-50 min-h-screen">

        <!-- Drawer toggle -->
        <input id="cart-drawer" type="checkbox" class="drawer-toggle" />

        <!-- Page content -->
        <div class="drawer-content flex flex-col">

            <!-- Navbar -->
            {% include "partials/navbar.html" %}

            <!-- Main content -->
            <main class="w-full py-20 flex-1">
                {% block content %}{% endblock %}
            </main>

            <!-- Footer -->
            {% include 'partials/footer.html' %}
        </div>

        <!-- Quick View Modal -->
        <div id="quickview-container"></div>


        <!-- Drawer side -->
        {% include "partials/drawer.html" %}

    </div>
    <script>
        // Sau khi HTMX load modal, thêm class "flex" để hiển thị
        document.body.addEventListener("htmx:afterSwap", (e) => {
            if (e.detail.target.id === "quickview-container") {
                const modal = document.getElementById("quickview-modal");
                if (modal) modal.classList.remove("hidden");
                if (modal) modal.classList.add("flex");
            }
        });
    </script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</body>

</html>