{% extends "base.html" %}
{% load static %}
{% load vn_currency %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-6">{{ title }}</h1>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  {% for product in products %}
    <div class="bg-white p-4 rounded-xl shadow hover:shadow-lg transition">
      {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="rounded-lg mb-3 h-48 w-full object-cover">
      {% endif %}
      <h3 class="font-semibold text-lg">{{ product.name }}</h3>
      <p class="text-gray-600">{{ product.price|vnd }} VND</p>
    </div>
  {% endfor %}
</div>
{% endblock %}