<div class="drawer-side z-50">
    <label for="cart-drawer" class="drawer-overlay"></label>

    <div class="w-full max-w-[608px] bg-white shadow-lg 
           h-[calc(100vh-2rem)] mr-4 my-4 rounded-2xl 
           flex relative overflow-hidden">

        <!-- Nút đóng -->
        <label for="cart-drawer" class="absolute top-6 right-6 cursor-pointer hover:text-white hover:bg-black transition-colors duration-200 
                  w-10 h-10 flex items-center justify-center rounded-full border border-gray-300 shadow btn-ghost"
            title="Đóng">
            <span class="material-symbols-outlined text-3xl">close</span>
        </label>

        <!-- Nội dung Drawer -->
        <div id="tab-content" class="flex-1 min-h-0 overflow-y-auto">
            {% include 'cart/partials/cart_tab.html' %}
        </div>
    </div>
</div>