{% load static %}
{% load vn_currency %}

<div class="w-full flex-col aspect-[3/4] bg-transition group">
    <!-- Ảnh sản phẩm -->
    <div class="relative w-full aspect-square rounded-2xl overflow-hidden group">
        <a href="{% url 'products:detail' product.slug %}">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-full object-cover" />
            {% else %}
                <img src="{% static 'core/images/default-category.jpg' %}" alt="{{ product.name }}" class="w-full h-full object-cover" />
            {% endif %}
        </a>

        <!-- Nút Thêm vào giỏ hàng -->
        <form
            hx-post="{% url 'cart:add' %}"
            hx-target="#cart-tab"
            hx-swap="innerHTML"
            hx-on::after-request="document.getElementById('cart-drawer').checked = true"
            class="absolute bottom-4 right-4 z-10"
            onclick="event.stopPropagation();">

            {% csrf_token %}
            <input type="hidden" name="product" value="{{ product.pk }}">

            {% with first_color=product.colors.first %}
                {% if product.colors.count == 1 %}
                    <!-- Nếu sản phẩm chỉ có 1 màu, gán luôn -->
                    <input type="hidden" name="color" value="{{ first_color.id }}">
                {% else %}
                    <input type="hidden" name="color" value="">
                {% endif %}
            {% endwith %}

            <input type="hidden" name="qty" value="1">

            <button type="submit"
                class="bg-black hover:opacity-80 text-white rounded-full btn btn-lg
                   flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 cursor-pointer duration-300">
                <span class="material-symbols-outlined text-sm">add_2</span>
                <span class="text-sm font-medium">Thêm nhanh</span>
            </button>
        </form>
    </div>

    <!-- Thông tin sản phẩm -->
    <div class="py-4 flex-1 flex flex-col justify-between">
        <span class="text-gray-400 text-xs uppercase mb-1">LUXORA</span>

        <h3 class="font-semibold text-lg mb-2 line-clamp-1">
            <a href="{% url 'products:detail' product.slug %}" class="cursor-pointer">{{ product.name }}</a>
        </h3>

        {% if product.colors.all %}
            <div class="flex justify-start items-center gap-2 mb-3" data-product="{{ product.pk }}">
                {% for color in product.colors.all %}
                    <span
                        class="w-4 h-4 rounded-full border border-gray-300 shadow-sm"
                        style="background-color: {{ color.hex_code }};"
                        title="{{ color.name }}">
                    </span>
                {% endfor %}
            </div>
        {% endif %}

        <p class="text-gray-700 font-medium">{{ product.price|vnd }} VND</p>
    </div>
</div>
